In [1]:
a = int(3)
b = int(5)
print(b)
print(a)

5
3

In [2]:
a = int(3)
b = str('Michael')
print(f'The value of a is {a}')
print(f'my name is {b}')

The value of a is 3
my name is Michael

In [3]:
a = 987
print(a)
a = a - 87
print(a)
print(a // 5)
print(3 ** 3)

987
900
180
27

In [25]:
number = 5
print(number * 2)
print(number << 1)

10
2

In [26]:
a = 5
a = a + 5
print(a)
a += 5
print(a)

10
15

In [6]:
a = 529
if (a % 2 == 0):
    print("Even")
else :
    print("Odd")

Odd

In [7]:
a = 200
b = 33
c = 500
if (a > b and c > a) :
    print("Both conditions are True")
if (b < a or c < a) :
    print("At least one of the conditions is True")

Both conditions are True
At least one of the conditions is True

In [8]:
def myFunction(num1, num2) :
    return num1**2 + num2**2
myFunction(3, 4)

25

In [10]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [11]:
L = [5, 2, 88]
for i in L :
    print (i)

5
2
88

In [12]:
i = 0
while (i < 5):
    print (i)
    i += 1

0
1
2
3
4

In [13]:
for i in range(10):
    if (i == 5):
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [14]:
for i in range(10):
    if (i == 5):
        break
    print(i)

0
1
2
3
4

In [21]:
arr = [1, 5, 3, 7, 9, 15, 47]
arr.append(56)
arr

[1, 5, 3, 7, 9, 15, 47, 56]

In [22]:
len(arr)

8

In [20]:
arr[-1]

47

2D List

In [23]:
arr = [
    [1, 2, 3],
    [6, 7, 8],
    [15, 16, 17],
]
arr[0]

[1, 2, 3]

Dictionary

In [24]:
thisDict = {
    "First_name": "Michael",
    "Last_name": "Chen",
    "School": "NTU",
    "Department": "IM",
    "Job": "Clown",
    "Birthday": "2001-4-19"
}
thisDict["First_name"]

'Michael'